@import 'basscss';

$accent: #FF6400;
$grey: #CCC;
$grey-dark: #6F6F6F;
$grey-darker: #333333;
$white: #FFF;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: $grey-darker;
}

body {
  font-family: 'Merriweather', serif;
  color: $grey-darker;
  line-height: 1.6;
  margin: 0 0 80px 0;
}

a, a:visited, a:hover {
  color: darken($accent, 5%);
}

.header {
  border-bottom: 10px solid $accent;

  &__content {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 32px 0 32px;
  }

  &__headline {
    font-size: 2.8rem;
    margin: 0;

    a {
      color: $grey-darker;
      text-decoration: none !important;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }


  .border-triangle {
    height: 30px;
    width: 30px;

    transform: translateY(20px);

    polygon {
      fill: $accent;

      &.mask {
        fill: white;
      }
    }
  }
}

.container {
  max-width: 900px;
  margin: 30px auto;
  padding: 0 32px;
}

.posts {
  &__date {
    width: 120px;
  }
}

blockquote {
  margin-left: 20px;
  padding-left: 10px;
  border-left: 5px solid $grey;
  color: $grey-dark;
  font-style: italic;
}
